<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='./index.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <title>OknoKat</title>
</head>

<body>
    <header>
        <div class='header__logo'>
            <img class='header__logo__image' src='./images/logo_white.svg'>
            <div class='header__logo__text'>
                <span class='header__logo__brand'>OknoKat</span>
                <span class='header__logo__slogan'>Комфорт за окном</span>
            </div>

        </div>
        <nav class='header__menu'>
            <ul class='header__menu__list'>
                <li><a href='#'>Тонирование</a></li>
                <li><a href='#'>Жалюзи и накладки</a></li>
                <li><a href='#'>Декор окон</a></li>
                <li><a href='#'>Балконы "под ключ"</a></li>
                <li><a href='#'>Бронирование окон</a></li>
                <li><a href='#'>О нас</a></li>
                <li><a href='#'>Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class='main__services'>
            <div class='main__service__box'>
                <div class='main__image'>
                    <div class='main__image_background_left'></div>
                    <img class='main__image_tining' src='./images/okna-tonirovannye-steklopaket-v-masse.jpg'>
                </div>
                <div class='main__service__box__text'>
                    <div class='main__service__box__header'>Тонирование</div>
                    <!-- <div class='description'>Выбери каким будет мир за твоим окном</div> -->
                </div>
            </div>
            <div class='main__service__box'>
                <div class='main__service__box__header'>Жалюзи и накладки</div>
                <div></div>
                <div class='main__image'>
                    <div class='main__image_background_right'></div>
                    <img class='main__image_blind' src='./images/joe-davis-blinds-open_.jpg'>
                </div>
            </div>
            <div class='main__service__box'>
                <div class='main__image'>
                    <div class='main__image_background_left'></div>
                    <img class='main__image_decore' src=''>
                </div>
                <div class='main__service__box__header'>Декор окон</div>
                <div></div>
            </div>
            <div class='main__service__box'>
                <div class='main__service__box__header'>Балконы "под ключ"</div>
                <div></div>
                <div class='main__image'>
                    <div class='main__image_background_right'></div>
                    <img class='main__image_balcony' src='./images/slide.jpg'>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>
