<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='./index.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <title>OknoKat</title>
</head>

<body>
    <header>
        <div class='header__logo'>
            <img class='header__logo__image' src='./images/logo_white.svg'>
            <div class='header__logo__text'>
                <span class='header__logo__brand'>OknoKat</span>
                <span class='header__logo__slogan'>Комфорт за окном</span>
            </div>

        </div>
        <nav class='header__menu'>
            <ul class='header__menu__list'>
                <li><a href='#'>Тонирование</a></li>
                <li><a href='#'>Жалюзи и накладки</a></li>
                <li><a href='#'>Декор</a></li>
                <li><a href='#'>Балконы "под ключ"</a></li>
                <li><a href='#'>Бронирование окон</a></li>
                <li><a href='#'>О нас</a></li>
                <li><a href='#'>Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>

</html>
